[submodule "libutilities"]
	path = libutilities
	url = https://github.com/LukasInnerhofer/libutilities
[submodule "libgraphics"]
	path = libgraphics
	url = https://github.com/LukasInnerhofer/libgraphics
